<!doctype html>
<html>
<head lang="fr">
  <meta charset="utf-8">
  <title>
    {% block siteTitle %}
      Emeryk Ablonet - WebSite
    {% endblock siteTitle %}
  </title>

  <!-- style sheet-->
  {% block stylesheet %}
  {% endblock stylesheet %}
</head>
<body>
  <div id=header>
    <div>
      My logo here
      <p>My text here </p>
    </div>
    <div>
      <p>Home</p>
      <p>Portfolio</p>
      <p>PhD</p>
      <p>Blog</p>
    </div>
  </div>

  <div id=content>
    
  </div>


</body>
</html>
